<%- include('../partials/header') -%>
<main class="container">
    <section class="item">
        <picture class="item__img">
            <img src="../../img<%= item.image_front%>" alt="<%= item.product_description %>">
        </picture>
        <div class="item__content">
            <h4 class="item__licence"><%= item.licence_name %></h4>
            <h1 class="item__name"><%= item.product_name %></h1>
            <p class="item__description"><%= item.product_description %></p>
            <p class="item__price">$ <%= item.price %></p>
            <div class="cantidad">
                <input class="articulo__cantidad-box" type="text" name="quantity" placeholder="0"
                    id="quantity">
                <div class="boton">
                    <button id="add" class="articulo__boton_sumar">+</button>
                    <button id="subtract" class="articulo__boton_restar">-</button>
                </div>
                <a href="/shop/cart">
                    <button class="item__buy">Agregar al carrito</button>
                </a>
            </div>
            <div class="item__paypromo">
                <p class="item__paymethod">Ver métodos de pago </p>
                <p class="item__promo">&nbsp - <%= item.dues %> CUOTAS SIN INTERÉS</p>
            </div>
        </div>
    </section>
    <%- include('../components/slider') -%>
</main>
<script src="../../js/item.js"></script>
<!--Inicio slider-->
 <!--%- include('../components/slider') -%-->
<!--Fin slider-->
<%- include('../partials/footer') -%>