<%- include('../partials/header') -%>
    <main class="container">
        <section class="crud-container">
            <h3 class="crud__title">EDIT ITEM</h3>
            <form class="crud__items" action="/admin/edit/<%= item.product_id %>?_method=PUT" method="POST" enctype="application/x-www-form-urlencoded">
                <label for="category">Categoria:
                <select name="category" id="category" required >
                    <% categories.forEach((category, i) =>{ %>
                        <option <% if (item.category_id === i +1) { %>selected<% } %> value="<%= i+1 %>"><%= category.category_name%></option>
                    <% }); %>
                </select></label>
                <label for="collection">Licencia:
                <select name="collection" id="collection"  required>
                    <% licences.forEach((licence, i) => { %>
                        <option <% if (item.licence_id === i +1) { %>selected<% } %> value="<%=i +2%>"><%= licence.licence_name%></option>
                    <% }); %>
                </select></label>
                <label for="">Nombre del producto:         
                <input type="text" name="name" id="name" value="<%= item.product_name %>" required></label>
                <textarea name="description" id="description" cols="150" rows="10" required ><%= item.product_description %></textarea>
                <div>
                    <label for="">SKU:</label>
                    <input type="text" name="sku" id="sku" value="<%= item.sku %>" size="8px">
                    <label for="">Precio:</label>
                    <input type="text" name="price" id="price" value="<%= item.price %>" size="8px">
                    <label for="">Stock:</label>
                    <input type="text" name="stock" id="stock" value="<%= item.stock %>" size="3px">
                    <label for="">Descuento:</label>
                    <input type="text" name="discount" id="discount" value="<%= item.discount %>" size="3px">
                    <label for="">Cuotas:</label>
                    <select name="dues" id="dues">
                        <option <% if (item.dues === 0) { %>selected<% } %> value="0">Sin cuotas</option>
                        <option <% if (item.dues === 3) { %>selected<% } %> value="3">3 cuotas s/ interés</option>
                        <option <% if (item.dues === 6) { %>selected<% } %> value="6">6 cuotas s/ interés</option>
                        <option <% if (item.dues === 9) { %>selected<% } %> value="9">9 cuotas s/ interés</option>
                        <option <% if (item.dues === 12) { %>selected<% } %> value="12">12 cuotas s/ interés</option>
                        <option <% if (item.dues === 18) { %>selected<% } %> value="18">18 cuotas s/ interés</option>
                        <option <% if (item.dues === 24) { %>selected<% } %> value="24">24 cuotas s/ interés</option>
                    </select>
                    <div>
                        <!--label for="">Imágenes:</label>
                        <input id="img" type="file" name="images" multiple-->
                        <label  for="images">Imágenes:
                        <input id="img" type="file" name="images" multiple></label>
                    </div>
                    
                    <section>
                        <picture>
                            <img src="/img<%= item.image_front %>" alt="<%= item.product_name %>">
                            <p>Frente</p>
                        </picture>
                        <picture>
                            <img src="/img<%= item.image_back %>" alt="<%= item.product_name %>">
                            <p>Dorso</p>
                        </picture>    
                    </section>
                    <button type="submit">Modificar Producto</button>
                </div>
            </form>
        </section>
    </main>
<%- include('../partials/footer') -%>