<section class="slider container glide">
    <h2 class="slider__title">Ultimos Lanzamientos</h2>
    <div class="glide__track" data-glide-el="track">
        <ul class="slider__items glide__slides">
            <% sliderItems.forEach( sliderItem => { %>
                <li class="shop__item">
                    <article class="card-item">
                        <a class="card-item__link" href="/shop/item/<%= sliderItem.product_id%>">
                            <picture class="card-item__cover">
                                <span class="card-item__tag">Nuevo</span>
                                <img class="card-item__img--front" src="../../img<%= sliderItem.image_front%>"
                                    alt="Figura coleccionable">
                                <img class="card-item__img--back" src="../../img<%= sliderItem.image_back%>"
                                    alt="Figura coleccionable">
                            </picture>
                            <div class="card-item__content">
                                <p class="card-item__licence"><%= sliderItem.licence_name%></p>
                                <h4 class="card-item__name"><%= sliderItem.product_name%></h4>
                                <p class="card-item__price"><%= sliderItem.price%></p>
                                <p class="card-item__promo"><%= sliderItem.dues%> CUOTAS SIN INTERÉS</p>
                            </div>
                        </a>
                    </article>
                </li>
            <% }); %>
        </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><iconify-icon class="arrow__slide" icon="tabler:chevron-left"></iconify-icon></button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><iconify-icon class="arrow__slide" icon="tabler:chevron-right"></iconify-icon></button>
      </div>  
</section>